{% extends "base.html" %}
{% block title %}Ingresar{% endblock %}
{% block content %}
<div class="auth-box">
  <h1>Ver resultados</h1>
  <form method="post" class="vstack gap-3">
    <div>
      <label class="form-label">Usuario</label>
      <input class="form-control form-control-lg" name="usuario" required autofocus>
    </div>
    <div>
      <label class="form-label">Contrasena</label>
      <input class="form-control form-control-lg" type="password" name="password" required>
    </div>
    <button class="btn btn-primary btn-lg">Entrar</button>
  </form>
</div>
{% endblock %}
